@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&family=Tillana:wght@400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  min-height: max-content;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Tillana", cursive;
  /* font-family: "Poppins", sans-serif; */
}

:root {
  --layout_color: hsl(0deg, 0%, 5.49%);
  --main_bg_color: hsl(223, 74%, 12%);
  --box_color: hsl(220, 17%, 39%);
  --color_white: #fff;
  --box_selected_ans_color: hsl(190.52deg 100% 50.78%);
  --box_selected_ans_color_2: hsl(220.35deg, 70.95%, 52.75%);
  --pointer_fs: 1.3rem;
  --text-fs: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
